<!DOCTYPE>
<html>
    <head>
        <title>Pisaca</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <!--<link rel="stylesheet" href="v4/views/partials/stylesheet/main.css">-->
        <style>
            body{
                
            }
            
            #special{
                width : 100%;
                height : 220px;
                 display : block;
            }
            
            .thumbnail img{
                width : 100%;
            }
            
            .thumbnail {
                padding : 0;
            }
            
            .thumbnail .caption-full {
                padding : 20px;
            }
            
            
            
        </style>
    </head>
    <body>
        
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Pisaca</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Sign Up</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
        
